services:
  - type: web
    name: clinicaonline
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require"
      SPRING_DATASOURCE_USERNAME: "postgres.svyjkqhehlcblhukyjqi"
      SPRING_DATASOURCE_PASSWORD: "Jb2q*3UBQ-GHRjg"
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_HIBERNATE_DDL_AUTO: "none"
      POSTMARK_API_KEY: "828579bb-0140-4f19-b6db-882de45ac8f4"
      POSTMARK_FROM_EMAIL: "david.chavezgu@usil.pe"
      PORT: "8080"
      JAVA_OPTS: "-Xmx384m -Xms128m"
